.container {
    background: url('../../public/London-City-Photo-2.jpg');
    background-position: center;
    background-size: cover;
    padding: 1rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.container article div {
    flex: 1;
    max-width: 700px;
    font-size: 0.8rem;
}

.container h2 {
    margin-bottom: 2rem;
}

.container article {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    margin: 1rem 0;
}

.imageWrapper:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.linkButton {
    margin: 1rem auto;
    font-size: 1.2rem;
    background: black;
    border: none;
}

.linkButton a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;  
}

@media (hover: hover){
    .linkButton:hover {
        background: lightblue;
        transition: 0.4s;
        transform: scale(1.1);
    }
    
    .linkButton:hover a {
        color: black;
    }
}

@media screen and (min-width: 768px){

    .container h2 {
        margin-bottom: 3rem;
    }

    .container p {
        margin: 2rem;
    }

    .container article div {
        font-size: 1rem;
    }

    .contentContainer {
        flex-direction: row;
    }
    .container article {
        margin: 1rem;
    }
}