.container {
    width: 100%;
    line-height: 1.2rem;
    display: flex;
    overflow: hidden;
}

.textContainer {
    flex: 1;
    padding: 1rem;
}

.container p {
    margin: 1rem auto;
    font-size: 0.8rem;
}

.links {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.links button {
    font-size: 1.2rem;
    margin: 0 1.5rem;
    background: black;
    border: none;
}

.links button a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    display: inline-block;     
}

.links button:hover {
    background: lightblue;
    transition: 0.4s;
    transform: scale(1.1);
}

.links button:hover a {
    color: black;
}

@media screen and (min-width: 768px){
    .container p {
        font-size: 1rem;
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
    .svgContainer {
        background: url('../../public/camera.jpg');
        background-repeat: no-repeat;
        background-size: 300%;
        background-position: 65% 28%;
        flex: 1;
    }
}