.container {
    padding: 1rem;
    line-height: 1.2rem;
    background: lightblue;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    font-size: 0.8rem;
}

.container p a {
    text-decoration: none;
    color: black;
}

.container p a:hover {
    text-decoration: underline;
    color: #0095b3;
}

.container h3 {
    margin: 1rem 0;
}

@media screen and (min-width: 768px){
    .container p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .contentContainer {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
}